.test-container{
    display: flex;
    flex-direction: column;
    background-color:#24868A;
    margin: 64px 0;
    width: 80%;
    color: aliceblue;
    min-height: 750px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),0 1px 3px rgba(0,0,0,0.26);
}

.try-again-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}